   .container {
        color: white;
        padding-bottom: 10px;
    }
   .heading {
        background-color: black;
        color: white;
        text-align: center;
    }
    
    .main {background-color: #1573FC;
        padding: left 80px;
       
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        }

    .ebody {
        background-color: black;
    }  

    .sidebar {
        width: 120px;background: #222;
    }
    
    #boy {
        padding-left: 80px;
        padding-bottom: 0px;
    }
    #stacks {
        padding-top: 90px;
        padding-left: 20px;

    } 
    
    .ebody {
        background-color: black;
    }   

    #sidenav-custom {
        background-color: black;
    }

    #location {
        padding: 10px;
    }

    #CONTACT{
        font-style: normal;
        text-decoration: underline;
    }
  
    #SKILLS {
        font-style: normal;
        text-decoration: underline;
    }

    .conta {
        columns: 1;
        padding-left: 220px;
        margin-top: 60px;
    }
    a:hover {
        color: thistle;
      }
 
      .sform {
          width: 70%;
          padding-left: 10px;
          padding-top: 0px;
          margin-left: 200px;
          margin-top: 10px;
      
    }
   #let {
       text-align: center;
       color: white;
   }

   .LAST {
    padding-left: 10px;
    padding-top: 0px;
    margin-left: 250px;
    color: white;
   }