.heading {background-color: black;
    color: white;
    text-align: center;
    }
    
    .main {background-color: thistle;
     padding: left 80px;
     display: flex;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
    }
    
    .sidebar {width: 120px;background: #222;}
    #boy {
        padding-left: 80px;
        padding-bottom: 0px;
    }
    #stacks {padding-top: 50px;

    }
    #sidenav {background-color: black;}

    .ebody {background-color: black;}
    